button.overlay {
    display:block;
    width:200px;
    margin:auto;
}

.page {
    margin:30px auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    /*margin-right:15px;*/
    background-color:#404053;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color:#404053;
}

.navbar {
    max-width:992px;
    width:100%;
    border-radius:0;
    border:none;
    margin:auto;
    background:#1b1a2f;

    .divider {
        background-color:#404053;
    }
}


.navbar-right {
    width:35%;

    .nav-buy {
        width:100px;
        float:right;
    }

    .nav-search {
        float:right;
        width:55%;
        margin-left:5%;

        .search-box {
            width:100%;
        }
        
    }

}

@media (max-width: 767px) {
    .navbar {
        position:absolute;
        top:0;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid,
    .navbar-nav {
        margin:0;
        padding:0;
    }

    .page {
        margin-top:80px;
    }

    .navbar-right {
        width:100%;

        .nav-buy {
            width:100px;
            float:left;
        }

        .nav-search {
            float:left;
            width:100%;
            margin:0;

            .search-box {
                width:100%;
                padding:7.5px;
            }

            .input-group {
                width:100%;
                margin:0 auto;
            }
            
        }
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color:#fff;
        opacity:0.6;
        transition:opacity 0s;
        font-size:0.9em;
    }
}

.navbar-collapse {
    padding-left:0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#fff;
    transition:opacity 0s;
    font-size:0.9em;
    padding:15px 10px;
    opacity:0.8;
}

.navbar-default .navbar-nav > li > a:hover {
    opacity:1.0;
    transition:background 0.15s, opacity 0.15s;
    background-color:#404053;
}

.navbar-default .navbar-nav > li > a.simple-link {
    text-align:right;
}

.navbar-default .navbar-nav > li > a.simple-link span {
    margin-left:.5em;
    margin-top:2px;
    display:block;
    float:right;
}


.navbar-default .navbar-nav > li > a.simple-link:hover {
    background-color:#1b1a2f;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color:#404053;
    opacity:1.0;
    color:#fff;
}

.search-box {
    margin-top:7px;
    margin-left:1em;
}

.search-box button {
    height:34px;
}